@font-face {
    font-family: gilroy;
    src: url(Gilroy-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freight Big Pro";
}
html, body{
    width: 100%;
    height: 100%;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
}

#loader h1{
    font-size: 6.8vw;
    font-weight: 200;
    line-height: 5.2vw;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}
#loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
#yellow1{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}
#nav{
    position: absolute;
    width: 100%;
    padding: 20px 40px;
    z-index: 10;
}
#nav svg path{
    fill: #000;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page1 h1{
    font-size: 6.8vw;
    font-weight: 200;
    line-height: 5.2vw;
    letter-spacing: -2px;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    transition: all ease 0.5s;
    background-position: center;
}
.elem{
    /* background-color: red; */
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem h2{
    font-size: 7.5vw;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
    line-height:5.5vw ;
    transition: all ease 0.05s;
}
.elem .moving{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%) scaleY(0);
    background-color: #F5E41B;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    transition: all ease 0.3s;
}
.elem .moving .moving-in{
    background-color: #F5E41B;
    display: inline-block;
    white-space: nowrap;
    animation-duration: 10s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 5px 0;
}
.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 35px;
    transition: all ease 0.5s;
    transition-delay: 0.1s;
    opacity: 0;
    font-family: gilroy;
    
}
@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.elem:hover .moving{
    transform: translate(0,-45%) scaleY(1);
}
.elem:hover .moving h5{
    opacity: 1;
}
.elem:hover h2{
    font-style: italic;
}

#page3{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    display: flex;
}
.container{
    padding: 30px;
    
    
}
.img-div{
    height: 40vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
}
.img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   transition: all ease 0.5s;
    
}
.img-div .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000014;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: all ease 0.5s;
    z-index: 10;
}
.overlay p{
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    line-height: 2.5vw;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 0.15s;
}
.img-div:hover .overlay{
    background-color: #000;
}
.img-div:hover .overlay p{
    opacity: 1;
}
.img-div:hover img{
    scale: 1.1;
}

#page4 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
    color: white;
    font-style: gilroy;
}
#page4-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}
#page4-left p {
    font-size: 2vw;
}
#page4-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}
#page4-right {
    height: 100%;
    width: 50%;
}
.right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}
.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}